$iterations: 16;

@for $i from 1 through $iterations {
  .mm-grid-rows-#{$i} {
    grid-auto-rows: repeat($i, 1fr);
  }
}

@for $i from 1 through $iterations {
  .mm-grid-columns-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}

// class for grid column width from 1 to 16
@for $i from 1 through $iterations {
  .mm-grid-col-#{$i} {
    grid-column: span $i;
  }
}
