$breakpoint-xs: 600px; // Extra small devices (phones)
$breakpoint-sm: 768px; // Small devices (tablets)
$breakpoint-md: 1024px; // Medium devices
$breakpoint-lg: 1440px; // Large devices
$breakpoint-xl: 1920px; // Extra large devices